<p id="notice"><%= notice %></p>

<h2>Listing Quotes</h2>
<h4>Authors, Quotes, and Background Information</h4>
<div class="panel panel-group">

    <% @quotes.each do |quote| %>
        <div class="panel panel-default">
          <div class="panel-heading"><h5><%= quote.author %></h5></div>
          <div class="panel-body"><h5><%= quote.quote %></h5></div>
          <div class="panel-footer"><h5><%= quote.background %></h5></div>
            <a><%= link_to 'Show', quote , class: "btn btn-primary" %></a>
            <a><%= link_to 'Edit', edit_quote_path(quote) , class: "btn btn-info" %></a>
            <a><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %></a>
        </div>
    <% end %>
</div>

<br/>

<%= link_to 'New Quote', new_quote_path, class: "btn btn-info"   %>